@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sora:wght@100..800&display=swap");

body {
  font-family: "Nunito";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100vw - 200px);
  height: 100vh;
}

.multipleImages {
  width: calc(100vw - 200px);
  height: 100px;
  white-space: nowrap;
  overflow-x: auto;
}
.selectedImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 200px);
  flex: 1;
  background-color: green;
}
