@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sora:wght@100..800&display=swap");

body {
  font-family: "Nunito";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 200px;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding-left: 1rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 100vh;
  min-height: 100vh;
  overflow: scroll;

  background-color: #fdfdfd;
  flex: 1;
}

.tabName {
  margin-bottom: 0.5rem;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.tabName:hover {
  margin-bottom: 0.5rem;
  width: 100%;
  cursor: pointer;
  background-color: #cecece;
}
