@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sora:wght@100..800&display=swap");

body {
  font-family: "Nunito";
  font-weight: 600;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  margin: 0.5rem;
  width: 300px;
}
